* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background: #323232;
    color: white;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 13px;
}

#workspaces button {
    border-top: 2px solid transparent;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#window {
    font-weight: bold;
}

#network,
#tray,
#cpu,
#memory,
#pulseaudio,
#battery,
#clock {
    padding-left: 10px;
    padding-right: 10px;
}

#network.disconnected {
    color: orange;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#clock {
    font-weight: bold;
}
